<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Пиксельный SVG-спрайт (редизайн ui-redesign-handoff): 32 монохромных
     symbol'а, ссылка через <use href="#name">. Инлайн (а не внешний файл
     assets/icons/pixel-icons.svg) — <use> с внешним href нестабилен в Safari;
     инлайн-спрайт совместим с CSP default-src 'self'. Включается один раз на
     страницу в shell. currentColor → красится через color родителя. -->
<svg th:fragment="sprite" class="icon-sprite" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
  <symbol id="home" viewBox="0 0 24 24"><path d="M3 11h2v9h5v-6h4v6h5v-9h2L12 3z" fill="currentColor"/></symbol>
  <symbol id="training" viewBox="0 0 24 24"><path d="M4 4h16v4H4zM4 10h10v10H4zM16 10h4v4h-4zM16 16h4v4h-4z" fill="currentColor"/></symbol>
  <symbol id="questions" viewBox="0 0 24 24"><path d="M4 3h16v14H9l-5 4V3zm6 4v2h4v2h-3v3h2v-1h3V9h-2V7h-4zm1 8v2h2v-2h-2z" fill="currentColor"/></symbol>
  <symbol id="topics" viewBox="0 0 24 24"><path d="M3 4h7v7H3zM14 4h7v7h-7zM3 14h7v7H3zM14 14h7v7h-7z" fill="currentColor"/></symbol>
  <symbol id="analytics" viewBox="0 0 24 24"><path d="M3 19h18v2H3zM5 12h3v6H5zM10 8h3v10h-3zM15 4h3v14h-3z" fill="currentColor"/></symbol>
  <symbol id="repeat" viewBox="0 0 24 24"><path d="M5 5h11V2l5 4-5 4V7H7v4H5V5zm14 8v6H8v3l-5-4 5-4v3h9v-4h2z" fill="currentColor"/></symbol>
  <symbol id="bookmark" viewBox="0 0 24 24"><path d="M6 3h12v19l-6-4-6 4z" fill="currentColor"/></symbol>
  <symbol id="trophy" viewBox="0 0 24 24"><path d="M7 3h10v3h4v5c0 3-2 5-5 5h-1v2h3v3H6v-3h3v-2H8c-3 0-5-2-5-5V6h4V3zm-2 5v3c0 1 1 2 2 2V8H5zm12 0v5c1 0 2-1 2-2V8h-2z" fill="currentColor"/></symbol>
  <symbol id="settings" viewBox="0 0 24 24"><path d="M10 2h4l1 3 3-1 2 3-2 2 2 2-2 3 2 2-2 3-3-1-1 3h-4l-1-3-3 1-2-3 2-2-2-2 2-3-2-2 2-3 3 1 1-3zm2 6a4 4 0 100 8 4 4 0 000-8z" fill="currentColor"/></symbol>
  <symbol id="theme" viewBox="0 0 24 24"><path d="M14 3a9 9 0 108 11 7 7 0 01-8-11z" fill="currentColor"/></symbol>
  <symbol id="code" viewBox="0 0 24 24"><path d="M8 5L2 12l6 7 2-2-4-5 4-5zm8 0l-2 2 4 5-4 5 2 2 6-7z" fill="currentColor"/></symbol>
  <symbol id="diagram" viewBox="0 0 24 24"><path d="M3 3h7v6H3zM14 3h7v6h-7zM8 15h8v6H8zM6 9h2v3h8V9h2v5h-5v1h-2v-1H6z" fill="currentColor"/></symbol>
  <symbol id="copy" viewBox="0 0 24 24"><path d="M8 4h12v14H8zM4 8h2v12h10v2H4z" fill="currentColor"/></symbol>
  <symbol id="report" viewBox="0 0 24 24"><path d="M5 2h12v4l2 2-2 2v12H5zm3 5v7h3V7zm0 9v3h3v-3z" fill="currentColor"/></symbol>
  <symbol id="check" viewBox="0 0 24 24"><path d="M3 12l5 5L21 4l-2-2L8 13l-3-3z" fill="currentColor"/></symbol>
  <symbol id="close" viewBox="0 0 24 24"><path d="M5 3l7 7 7-7 2 2-7 7 7 7-2 2-7-7-7 7-2-2 7-7-7-7z" fill="currentColor"/></symbol>
  <symbol id="star" viewBox="0 0 24 24"><path d="M12 2l3 6 7 1-5 5 1 7-6-3-6 3 1-7-5-5 7-1z" fill="currentColor"/></symbol>
  <symbol id="user" viewBox="0 0 24 24"><path d="M8 3h8v8H8zM4 15h16v7H4z" fill="currentColor"/></symbol>
  <symbol id="arrow" viewBox="0 0 24 24"><path d="M4 11h12l-4-4 2-2 7 7-7 7-2-2 4-4H4z" fill="currentColor"/></symbol>
  <symbol id="play" viewBox="0 0 24 24"><path d="M6 3l15 9-15 9z" fill="currentColor"/></symbol>
  <symbol id="flame" viewBox="0 0 24 24"><path d="M10 2h4v4h3v3h3v7h-3v4h-3v2H9v-2H6v-4H3v-5h3V7h3v5h2V8h-1zm1 12H8v3h2v2h3v-2h2v-4h-2v2h-2z" fill="currentColor"/></symbol>
  <symbol id="target" viewBox="0 0 24 24"><path d="M9 2h6v2h4v4h3v8h-3v4h-4v2H9v-2H5v-4H2V8h3V4h4zm0 5H7v2H5v6h2v2h2v2h6v-2h2v-2h2V9h-2V7h-2V5H9zm1 2h4v2h2v4h-2v2h-4v-2H8v-4h2zm2 3h-1v2h2v-2z" fill="currentColor"/></symbol>
  <symbol id="book-open" viewBox="0 0 24 24"><path d="M3 4h7v3h2V4h9v16h-7v2h-4v-2H3zm3 3v10h4V9H8V7zm8 0v10h4V7z" fill="currentColor"/></symbol>
  <symbol id="link" viewBox="0 0 24 24"><path d="M3 7h3V4h7v3h2v3h-3V8H7v2H5v4h2v2h5v-2h3v3h-2v3H6v-3H3zm9 4h7V9h-5V7h7v3h2v7h-3v3h-7v-3h-2v-3h3v2h5v-2h-7z" fill="currentColor"/></symbol>
  <symbol id="download" viewBox="0 0 24 24"><path d="M10 2h4v10h4l-6 6-6-6h4zM3 19h18v3H3z" fill="currentColor"/></symbol>
  <symbol id="printer" viewBox="0 0 24 24"><path d="M6 2h12v5h3v11h-3v4H6v-4H3V7h3zm3 3v2h6V5zm-3 5v5h3v-2h6v2h3v-5zm3 6v3h6v-3z" fill="currentColor"/></symbol>
  <symbol id="more" viewBox="0 0 24 24"><path d="M3 10h4v4H3zm7 0h4v4h-4zm7 0h4v4h-4z" fill="currentColor"/></symbol>
  <symbol id="face-unknown" viewBox="0 0 24 24"><path d="M6 2h12v2H6zM4 4h2v2H4zm14 0h2v2h-2zM2 6h2v12H2zm18 0h2v12h-2zM4 18h2v2H4zm14 0h2v2h-2zM6 20h12v2H6zM7 8h3v3H7zm7 0h3v3h-3zM8 16h2v-2h4v2h2v2h-2v-2h-4v2H8z" fill="currentColor"/></symbol>
  <symbol id="face-guess" viewBox="0 0 24 24"><path d="M6 2h12v2H6zM4 4h2v2H4zm14 0h2v2h-2zM2 6h2v12H2zm18 0h2v12h-2zM4 18h2v2H4zm14 0h2v2h-2zM6 20h12v2H6zM7 8h3v3H7zm7 0h3v3h-3zM8 15h8v2H8z" fill="currentColor"/></symbol>
  <symbol id="face-hard" viewBox="0 0 24 24"><path d="M6 2h12v2H6zM4 4h2v2H4zm14 0h2v2h-2zM2 6h2v12H2zm18 0h2v12h-2zM4 18h2v2H4zm14 0h2v2h-2zM6 20h12v2H6zM7 8h3v3H7zm7 0h3v3h-3zM7 16h3v-2h4v2h3v2h-4v-2h-2v2H7z" fill="currentColor"/></symbol>
  <symbol id="face-remembered" viewBox="0 0 24 24"><path d="M6 2h12v2H6zM4 4h2v2H4zm14 0h2v2h-2zM2 6h2v12H2zm18 0h2v12h-2zM4 18h2v2H4zm14 0h2v2h-2zM6 20h12v2H6zM7 8h3v3H7zm7 0h3v3h-3zM8 14h2v2h4v-2h2v3h-2v2h-4v-2H8z" fill="currentColor"/></symbol>
  <symbol id="face-great" viewBox="0 0 24 24"><path d="M6 2h12v2H6zM4 4h2v2H4zm14 0h2v2h-2zM2 6h2v12H2zm18 0h2v12h-2zM4 18h2v2H4zm14 0h2v2h-2zM6 20h12v2H6zM7 8h3v3H7zm7 0h3v3h-3zM6 13h3v2h6v-2h3v4h-3v2H9v-2H6z" fill="currentColor"/></symbol>
</svg>
</body>
</html>
